{erl_opts, [ debug_info
            %,'P'
            ,{parse_transform, dump_code}
            ,{parse_transform, list_transforms}
           ]}.

{erl_first_files, [ "src/parse_transform_modules/list_transforms.erl"
                   ,"src/parse_transform_modules/dump_code.erl"
                   ,"src/parse_transform_modules/dummy_transform.erl"
                   ,"src/parse_transform_modules/my_transform.erl" 
                  ]}.

{deps, []}.
